*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    border: none;
}
.nav-bar{
    background-color: #08558b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-style: normal;
    width: 100%;
    left: 100%;
    border-radius: 10px;
}
body{
    background: url(/img/backgroud_index.jpg);
    background-size: cover;
}
.nav-bar a{
    color: white;
    text-align: justify;
}
a:hover{
    text-decoration: underline;
    color: black;
}
h2{
    color: #08558b;
    border-radius: 15px;
    background-color: white;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
#insert,p{
    left: auto;
    width: 890px    ;
    padding: 10px;
    padding-bottom: 1px;
    padding-left: 10px;
    margin: 0 auto;
    background-color: #08558b;
    text-align: left;
    border-radius: 15px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #fff;
}
img{
    width: 13%;
    height: auto;
    display: block;
    border-radius: 100%;
}